@charset "utf-8";
.line{
	height: 20px;
	background:#f8f8f8;
}
.getinfo{
	background: #fff;
	padding: 10px 10px 4px;
}
.getinfo .shopimg{
	margin-right: 10px;
}
.getinfo .shopimg img,.getinfo .geticon img{
	width: 45px;
	height: 45px;
}
.getinfo .shoptitle p{
	height: 26px;
	line-height: 22px;
	font-size: 14px;
}
.getmethod span.red{
	display: block;
	margin:10px auto;
	text-align: center;
	font-size: 18px;
}
.getmethod .getlist{
	padding:14px;
}
.getmethod .getlist li{
	padding:8px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.getmethod .getlist li em{
	font-size: 16px;
}
.getmethod .getlist li.aggrement{
	border-bottom: none;
}
.getmethod .getlist li.aggrement span{
	font-size: 14px;
	float: left;
}

.getmethod .getlist li i,.getmethod .getlist li.aggrement em{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/xuanzhong.png);
    background-repeat: no-repeat;
    background-size: 228% 100%;
    float: right;
    margin-top: 4px;
}
.getmethod .getlist li i.checked,.getmethod .getlist li.aggrement em.checked{
	    background-position: -20px 0px; 
}
.getmethod .getlist li.aggrement em{
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}

.getmethod a.next{
	display: block;
	margin:0 auto;
	width: 80%;
	padding:10px 0px;
	background: #f22f2f;
	text-align: center;
	color:#fff;
	border-radius: 10px;
	font-size: 18px;
}
.qucard span,.sendcard span{
	display: block;
	text-align: center;
	background: #fff;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border-radius: 36px 36px 0 0;
	border-bottom: 1px solid #e8e8e8;
}
.qucard .opera-btn a,.sendcard .opera-btn a{
	display: inline-block;
	text-align: center;
	width: 100px;
	color:blue;
	background: #fff;
	height: 36px;
	line-height: 36px;
	float:left;

}
.qucard .opera-btn .btn-yes,.sendcard .opera-btn .btn-yes {
	border-radius: 0 0 36px 0;
}
.qucard .opera-btn .btn-no,.sendcard .opera-btn .btn-no{
	border-radius: 0 0 0 36px;
	border-right: 1px solid #e8e8e8;
}
#cardinfo,.receive{
	width: 310px;
	border-radius:12px;
	padding:0px 10px;
	box-sizing: border-box;
}
#cardinfo span.tip,.receive span.tip{
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	color:#f22f2f;
	border-bottom:1px solid #e8e8e8;
}
#cardinfo div.cardimg,.receive dev.cardimg{
	padding-top: 8px;
	padding-bottom: 8px;
}
#cardinfo div.cardimg img,.receive div.cardimg img{
	width: 50px;
	height: 50px;
}
#cardinfo div.cardimg span,.receive div.cardimg span
{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #666;
}
#cardinfo p.cardtitle ,.receive p{
	padding: 8px 0px;
}
#cardinfo .cardopera,.receive .cardopera{
	padding-bottom: 10px;

}
#cardinfo .cardopera span.watch{
	width: 60%;
	display: inline-block;
	text-align: center;
}
#cardinfo .cardopera span.copy{
	float:right;
	color: #fff;
	padding: 0px 8px;
	background: #f22f2f;
	font-size: 13px;

}
#cardinfo .cardopera span.cardname{
	float: left;
}
#cardinfo .cardopera span{
	height: 26px;
	line-height: 26px;
	display: inline-block;
}
.receive .send{
	/*margin-bottom:10px;*/
	padding:10px 0px;
}
.receive .send input{
	float: left;
	border:1px solid #e8e8e8;
	height: 28px;
	width: 74%;
	line-height: 28px;
	padding-left: 10px;
	border-radius: 6px;
}
.receive .send a{
	display:inline-block;
	background: #f22f2f;
	color:#fff;
	float: right;
	padding:4px 8px;
	border-radius: 6px;
}
.receive p.cardtitle{
	font-size: 12px;
	padding:-2px 0px;
}
.repart{
	position: fixed;
	bottom:0px;
	width: 100%;
	border-top:1px solid #e8e8e8;
}
.repart a{
	display: inline-block;
	float: left;
	font-size: 12px;
	padding:10px 0px;

}
.repart{
	padding: 4px 0px;
}
.repart .parttip{
	padding-left: 10px;
}
.repart .part{
	float: right;
	padding:8px 22px;
	background: #f22f2f;
	color:#fff;
	border-radius: 8px;
	margin-right: 10px;
	font-size: 14px;
}
